{% extends 'base.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
  <h1>Все посты пользователя {{ author.get_full_name }}
    {% if request.user.is_authenticated %}
      <span style="font-size: .45em;">
        {% if author != user %}
          {% if following %}
            <a
              class="form-text text-muted"
              href="{% url 'posts:profile_unfollow' author.username %}" role="button"
            >
              Отписаться
            </a>
          {% else %}
            <a
              class="form-text text-muted"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
  </h1>
  <h3>Всего постов: {{ author.posts.count }} </h3>

  {% for post in page_obj %}
    <article>
      {% include 'posts/includes/post_card.html' %}
    </article>
  {% endfor %}
{% endblock %}